/.idea
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
public/dist
public/build
public/mix-manifest.json

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
.env.production
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

phpunit.dusk.xml
*.code-workspace
/.history

# deployer
.build
hosts.yaml

# MISC
.DS_Store
