:root {
    --header: #2c3544;
    --sub-text: #33354c;
    --body-tertiaty: #969eab;
    --body-dark: #2e364a;
    --link: #006bff;
    --body-standard: #56617b;
    --img-holder: #ecf0f8;
    --outline: #755998;
    --secondary-5: #faf9ff;
    --primary-2: #ffa7a5;
    --light-2: #fbfbfb;
    --secondary-2: #9188b9;
    --primary-4: #ffe2de;
    --primary-3: #ffc4bb;
    --primary-1: #e76c67;
    --light-3: #f6f3f1;
    --secondary-3: #b6a0dc;
    --secondary-4: #dbdae7;
    --outline-2: #7d6ccb;
}