@import 'variables';
@import '~sweetalert2/src/sweetalert2';
@import 'vue2-perfect-scrollbar/dist/vue2-perfect-scrollbar.css';
@import "vue-select/src/scss/vue-select.scss";

@import 'elements/buttons';
@import 'elements/transitions';
@import 'elements/inputs';
@import 'elements/typography';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
