.Light-backgroundH1---h6H1 {
  font-family: Lora;
  font-size: 84px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.76;
  letter-spacing: -4.07px;
  color: var(--header);
}
.Dark-backgroundH2-white {
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.Light-backgroundH1---h6H2 {
  font-family: Lora;
  font-size: 56px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.7px;
  color: var(--body-dark);
}
.Light-backgroundH1---h6H4 {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.49px;
  color: var(--sub-text);
}
.Light-backgroundH1---h6H3 {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.49px;
  color: var(--sub-text);
}
.Light-backgroundRandomAurthor-large {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.49px;
  color: var(--body-tertiaty);
}
.Dark-backgroundH2-Subtext-White {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.49px;
  text-align: center;
  color: #ffffff;
}
.Light-backgroundH1---h6H5 {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: var(--body-dark);
}
.Light-backgroundBody-textBody-bold-Light {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--body-standard);
}
.Light-backgroundBody-textBody-bold {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--header);
}
.Light-backgroundBody-textStadard-body-18px {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: var(--body-standard);
}
.Light-backgroundTertiaryTertiary-Dark-Large {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: -0.32px;
  color: var(--sub-text);
}
.Light-backgroundH1---h6H6-small-titles {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: var(--body-dark);
}
.Light-backgroundText-linksText-link {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: var(--link);
}
.Light-backgroundTertiaryTertiary-Light-Large {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: -0.32px;
  color: var(--sub-text);
}
.Light-backgroundBody-textBody-small {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #55617d;
}
.Light-backgroundTertiaryTertiay-bold {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.28px;
  color: var(--sub-text);
}
.Light-backgroundText-linksText-link-small {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--link);
}
.Light-backgroundTertiaryTeritary-light {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 0.5px;
  color: var(--body-standard);
}

@media (max-width: 1000px) {
  .Light-backgroundH1---h6H1 {
    font-size: 50px;
    letter-spacing: 0;
  }
}
